@keyframes Down {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes Up {
  from {
    opacity: 1;
  }

  to {
    transform:scaleY(0);
  }
}
@keyframes openMenu {
  from {
  }

  to {
    opacity: 1;
    transform: scaleX(.2);
  }
}
@keyframes closeMenu {
  from {
    transform: scaleX(.2);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@include zoom-animation('top',Down,Up,center top);
@include zoom-animation('left',openMenu,closeMenu,bottom center);
@include zoom-animation('down',Down,Up,center top);
@include zoom-animation('right',Down,Up,center top);