.xc-alert {
	position: relative;
	color: $white;
	padding: 0.75rem 1.25rem;
	border: 1px solid transparent;
	@include alert-style($primary,$primary);
	margin-bottom: 1rem;
	border-radius: $border-radius-sm;
	height: auto;
	opacity: 1;
	&-close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0.75rem 1.25rem;
		display: inline-block;
		cursor: pointer;
		svg {
			width: 12px;
		}
		path{
			fill: #333;
		}
	}

	&-success {
		@include alert-style($green,$green-gray)
	}
	&-danger{
		@include alert-style($red,$red-dark)
	}
	&-warning{
		@include alert-style($orange,$orange-dark)
	}
	.blod-title{
		font-weight: $font-weight-bold;
		font-size: $font-size-lg;
	}
	p{
		padding: 0;
		margin: 0.3rem 0 0;
		font-size: $font-size-sm;
	}
}